<!DOCTYPE html>
<html>
<head>
    <title>Authors and Books</title>
</head>
<body>
    <h1>Authors</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for author in autors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Books</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publish Year</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.publish_year }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>AuthorBooks</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Book</th>
        </tr>
        {% for authorbook in authorbooks %}
        <tr>
            <td>{{ authorbook.id }}</td>
            <td>{{ authorbook.author }}</td>
            <td>{{ authorbook.book }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
