<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Twillo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static "twillo.css" %}" />
</head>
<body>

<h2>Login Form</h2>


  <div class="imgcontainer">
    <img src="{% static "images/hero-abs-1.png" %}" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="phone"><b>Username</b></label>
      <label>
          <input type="text" placeholder="Enter phone" name="phone" id="phone" required>
      </label>

      <label for="password"><b>Password</b></label>
      <label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
      </label>

      <button type="button" onclick="login()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>

  <script src="{% static "twillo.js" %}"></script>
</body>
</html>
